#smallProductCard #productCard {
  height: 230px;
}

#smallProductCard .smallProCardImage {
  height: 50px;
}
#smallProductCard .proCardUpper {
  height: auto;
}
#smallProductCard .proCardBottom {
  height: auto;
}

#smallProductCard .proDescription span:nth-child(1) {
  color: black;
}
#smallProductCard .proDescription span {
  font-size: 11px;
}
#smallProductCard .proDescription span:nth-child(2) {
  font-size: 10px;
}
#smallProductCard .proCardBottom p,
#smallProductCard .proCardBottom span {
  font-size: 11px;
}
#smallProductCard .proBtn {
  font-size: 11px;
  padding: 0 10px;
}
#smallProductCard .proAction {
  padding: 5px 0;
}
#smallProductCard .proAction span {
  font-size: 20px;
}
