#topNavbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.topNavLogo {
  display: none;
}
#topNavbar ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#topNavbar ul li a {
  font-size: 14px;
  padding: 10px;
  font-weight: 500;
  transition: all 0.3s;
  position: relative;
}
#topNavbar ul li a::after {
  content: "";
  width: 2px;
  height: 50%;
  background-color: var(---primaryColor);
  position: absolute;
  right: 0;
  top: 10px;
}
#topNavbar ul li:last-child::after {
  width: 0px;
}
.languageSwitch a {
  position: relative;
}
.languageSwitch a::after {
  display: none;
}
#topNavbar ul li a:hover {
  background-color: var(---primaryColor);
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-decoration: none;
}
.languageSwitch a {
  min-width: 70px;
}
.languageSwitch a {
  display: block;
  position: relative;
}
.languageSwitch ul {
  position: absolute;
  flex-direction: column;
  background-color: white;
  color: black;
  border-radius: 5px;
  width: 100%;
  left: 0;
  top: 35px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.159);
  z-index: 999;
}
.languageSwitch ul li {
  padding: 5px 10px;
  width: 100%;
  text-align: center;
}
.languageSwitch ul li:hover {
  background-color: var(---secondaryColor);
}

/* Responsive part */
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 600px) {
  #topNavbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #topNavbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  .topNavLogo {
    display: block;
  }
}
