#userCart {
  display: flex;
  gap: 10px;
  padding-top: 5px;
}
#userCart .userCartLeft {
  width: 75%;
}
#userCart .userCartItems {
  margin-top: 10px;
}
#userCart .userCartItem {
  background-color: white;
  border-radius: 5px;
  padding: 10px 20px;
}
#userCart .userCartItemTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e9e9e9;
  padding: 10px;
  border-radius: 5px;
}
#userCart .uciLeft {
  display: flex;
  align-items: center;
  gap: 5px;
}
#userCart .uciRight {
  font-size: 14px;
  font-weight: 500;
}
.userCartItemBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  background-color: #f5f5f5;
}
.userCartItemBottom .img-desc {
  display: flex;
  align-items: center;
  gap: 10px;
}
.userCartItemBottom .img-desc img {
  height: 130px;
  width: 130px;
}
.userCartItemBottom .price-quantity {
  display: flex;
  align-items: center;
  gap: 10px;
}
.userCartItemBottom .price-quantity .quantityContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}
.price-quantity .quantityContainer .increment,
.decrement {
  width: 30px;
  height: 30px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}
.userCartItemBottom .actions {
  display: flex;
  align-items: center;
  gap: 5px;
}
.userCartItemBottom .actions span {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.userCartItemBottom .actions span:hover {
  background-color: white;
}
.userCartItems {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Right Side */
.userCartRight {
  width: 25%;
}
.paymentMethodsTop {
  display: flex;
  gap: 5px;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.paymentMethodsTop img {
  height: 30px;
}
.paymentMethodsImages {
  background-color: white;
}
.paymentMethodsImages div {
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}
.paymentMethodsImages div:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.paymentMethodsImages {
  display: flex;
  align-items: center;
  justify-content: center;
}
.paymentMethodsImages img {
  width: 50px;
}

/*  order summary */
.orderSummary {
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  margin-top: 20px;
}
.orderSummary h6 {
  margin-bottom: 10px;
}
.orderSummary div {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 5px;
}
.orderSummary button {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  margin-top: 10px;
  background-color: var(---primaryColor);
  color: white;
  border: none;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}
.termsCheck {
  margin-top: 20px;
  width: 100%;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 10px;
  border: 1px solid var(---primaryColor);
  padding: 5px;
}
.termsCheck span {
  font-size: 13px;
}

/* address */
.addressButtons {
  margin-top: 5px;
  border: 1px solid var(---primaryColor);
  border-radius: 5px;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.addressButtons button {
  font-size: 15px;
  padding: 10px 20px;
  border: none;
  background-color: #233f6c;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}
.addressButtons button:hover {
  background-color: var(---primaryColor);
}
.customerAddressForm {
  background-color: white;
  padding: 15px;
  margin-top: 10px;
  border-radius: 5px;
}
.customerAddressForm input,
select {
  padding: 15px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  background-color: #f5f5f5;
}
.customerAddressForm select option {
  font-size: 15px !important;
}
.addFormElm {
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 100%;
  margin-bottom: 10px;
}
.customerAddressForm .flexInput {
  display: flex;
  align-items: center;
  gap: 20px;
}
.defaultAddress label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.formActionsButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.formActionsButtons button:first-child {
  background-color: #233f6c;
  border: none;
  outline: none;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
.formActionsButtons button:last-child {
  background-color: var(---primaryColor);
  border: none;
  outline: none;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
.pqaContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
/* Responsive part */
@media only screen and (max-width: 1200px) {
  #userCart {
    flex-direction: column;
  }
  #userCart .userCartLeft {
    width: 100%;
  }
  #userCart .userCartRight {
    width: 100%;
  }
  .flexInput {
    flex-direction: column;
  }
  .userCartItemTop {
    flex-direction: column;
  }
  .userCartItemBottom {
    flex-direction: column;
    gap: 20px;
    justify-content: start;
    align-items: start;
  }
  .userCartItemBottom .img-desc img {
    height: 80px;
    width: 80px;
  }
  .pqaContainer {
    margin: 0 auto;
  }
  .addressButtons {
    padding: 10px;
  }
  .addressButtons button {
    padding: 10px 5px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 600px) {
}
