.categories {
  min-width: 290px;
  background-color: white;
  border-radius: 5px;
  position: relative;
  padding: 8px;
}
.subCategories {
  position: absolute;
  background-color: white;
  border-radius: 5px;
  box-shadow: var(---primaryShadow);
  height: 100%;
  width: 100%;
  top: 0;
  left: 100%;
  border-left: 1px solid gainsboro;
  padding: 8px;
  z-index: 1;
}
.categories h5 {
  /* margin-bottom: 5px; */
  padding: 10px;
}
.categoriesList {
  display: flex;
  flex-direction: column;
}
.categoriesList a {
  padding: 5px;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  font-size: 14px;
  transition: all 0.1s;
  background-color: var(---secondaryColor);
  margin-bottom: 5px;
  border-radius: 4px;
}
.subCategories {
  display: flex;
  flex-direction: column;
}
.subCategories a {
  padding: 5px 10px;
  transition: all 0.3s;
  font-size: 14px;
  transition: all 0.1s;
  background-color: var(---secondaryColor);
  margin-bottom: 5px;
  border-radius: 4px;
  height: 41px;
  display: flex;
  align-items: center;
}
.subCategories a:hover {
  background-color: var(---primaryColor);
  color: white;
  font-weight: 500;
}
.categories:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
}
.categoriesList a:hover {
  background-color: var(---primaryColor);
  color: white;
  font-weight: 500;
}
.categoriesList a img {
  width: 23px;
  height: 23px;
  object-fit: contain;
}
.innerCat {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 31px;
}

/* Responsive part */
@media only screen and (max-width: 1200px) {
  .categories {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
}
