#mainNavbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
  gap: 5px;
  padding-bottom: 10px;
  width: 1200px;
  margin: 0 auto;
  height: auto;
}
.mainNavBarContainer {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: var(---secondaryColor);
}
.searchBar {
  display: flex;
  align-items: center;
  width: 100%;
}
.navbarLeft {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.navbarRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 20px;
  flex: 1;
}
.searchBar {
  width: 60%;
  position: relative;
  margin: 0 auto;
}
.searchBar input {
  border: none;
  outline: none;
  font-size: 17px;
  padding: 10px;
  padding-right: 50px;
  height: 45px;
  background-color: white;
  border-radius: 50px;
  margin-right: 5px;
  width: 100%;
}
.searchBar button {
  position: absolute;
  right: 10px;
  border: none;
  outline: none;
  font-size: 17px;
  width: 38px;
  height: 38px;
  background-color: var(---primaryColor);
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchBar button {
  box-shadow: var(---primaryShadow);
}
.searchBar input {
  box-shadow: var(---primaryShadow);
}
.cart {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  position: relative;
}

.cart img {
  width: 35px;
  height: 35px;
}
.cart:hover {
  background-color: var(---primaryColor);
}
.cartCount {
  width: 20px;
  height: 20px;
  background-color: var(---primaryColor);
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  font-weight: bold;
}
.location {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  cursor: pointer;
  position: relative;
  min-width: 200px;
  text-align: right;
}
.location img {
  width: 25px;
}
.location span {
  display: flex;
  align-items: center;
  gap: 1px;
  font-weight: 500;
  font-size: 15px;
}
.locationType {
  position: absolute;
  left: 0;
  top: 30px;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.159);
  width: 100%;
  border-radius: 5px;
}
.locationType li {
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  font-weight: 500;
}
.locationType li:hover {
  background-color: var(---secondaryColor);
}
/* Responsive part */
@media only screen and (max-width: 1200px) {
  #mainNavbar {
    width: 100%;
  }
  .searchBar {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  #mainNavbar {
    flex-direction: column;
    padding: 10px;
  }
  .mainNavBarContainer {
    position: relative;
  }
  .navbarRight {
    justify-content: space-between;
  }
  .mainNavLogo {
    display: none;
  }
}
