#shop {
  min-height: 100vh;
  display: flex;
  width: 100%;
  gap: 20px;
  padding: 20px 0;
}
.shopLeft {
  width: 30%;
}
.shopLeft .filterCheckboxContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}
.shopRight {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shopRight .resultAndSort {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shopRight .resultAndSort .filterResultCount,
.filterInputSort {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 5px;
}
.shopRight .resultAndSort img {
  width: 22px;
}
.shopRight .filterInputSort .filterSelect {
  padding: 8px;
  border: 1px solid gainsboro;
  border-radius: 5px;
}
.shopRight .shopProductsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
#shop .shopLeft .filterCheckboxContainer .mobileFilterDoneButton {
  background-color: var(---primaryColor);
  font-size: 16px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  margin: 0 auto;
  cursor: pointer;
  display: none;
}
#shop .shopLeft .filterCheckboxContainer .mobileFilterCloseButton {
  width: 35px;
  height: 35px;
  position: fixed;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.3s;
  display: none;
}
#shop .shopLeft .filterCheckboxContainer .mobileFilterCloseButton:hover {
  background-color: var(---secondaryColor);
}
.filterBtnMobile {
  display: none;
}
#shop .shopTopBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: var(---primaryColor);
  color: white;
  position: sticky;
  top: 0;
  z-index: 20;
  display: none;
}
#shop .shopTopBar .stbLeft {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  width: 100%;
  font-size: 15px;
}
#shop .shopTopBar .stbLeft span a {
  display: flex;
  align-items: center;
  justify-content: center;
}
#shop .shopTopBar .stbLeft .stbSearchBox {
  width: 100%;
}
#shop .shopTopBar .stbLeft .stbSearchBox input {
  height: 100%;
  width: 90%;
  outline: none;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  padding: 10px;
}
#shop .shopTopBar .stbRight {
  display: flex;
  align-items: center;
  gap: 5px;
}
#shop .shopTopBar span {
  min-width: 35px;
  min-height: 35px;
  max-width: 35px;
  max-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(---secondaryColor);
}
#shop .shopTopBar .stbRight span:first-child {
  background-color: var(---primaryColor);
}
#shop .shopTopBar .stbRight span:last-child {
  background-color: var(---secondaryColor);
  color: black;
  transition: all 0.3s;
}
/* #shop .shopTopBar .stbRight span:last-child:hover {
  background-color: var(---primaryColor);
  color: white;
  border: 1px solid var(---secondaryColor);
} */

.cartCountS {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: red;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -10px;
  top: -10px;
  color: white;
  font-weight: bold;
}
/* Responsive part */
@media only screen and (max-width: 1200px) {
  #shop {
    flex-direction: column;
    padding: 0;
    gap: 0;
  }
  .shopLeft {
    width: 100%;
  }
  #shop .shopProductsContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  #shop .shopLeft .filterCheckboxContainer {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    z-index: 70;
    background-color: white;
    top: 0;
    left: 0;
    padding: 10px;
    padding-bottom: 50px;
    display: none;
  }
  #shop .shopLeft .filterCheckboxContainer .mobileFilterDoneButton {
    display: block;
  }
  #shop .shopLeft .filterCheckboxContainer .mobileFilterCloseButton {
    display: flex;
  }
  #shop .shopRight .resultAndSort {
    flex-direction: column-reverse;
    gap: 10px;
    margin-bottom: 20px;
  }
  #shop .shopRight .sortContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 10px 20px;
    background-color: var(---primaryColor);
    color: white;
    gap: 10px;
  }
  #shop .shopRight .sortContainer div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #shop .shopRight .sortContainer div:last-child {
    border-left: 2px solid white;
  }
  .filterBtnMobile {
    display: flex;
    cursor: pointer;
  }
  #shop .shopTopBar {
    display: flex;
  }
}
@media only screen and (max-width: 600px) {
  #shop .shopProductsContainer {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}
