#banner {
  width: 100%;
  height: 350px;
}
.mySwiper {
  height: 100%;
  width: 100%;
}
#banner img {
  width: 100%;
  object-fit: cover;
}
.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
  color: var(---primaryColor);
}
.mySwiper .swiper-pagination-bullet {
  background-color: var(---primaryColor);
}
/* Responsive part */
@media only screen and (max-width: 1200px) {
  #banner {
    height: auto;
  }
}
@media only screen and (max-width: 600px) {
}
