#footer {
  color: black;
  padding: 50px;
  padding-bottom: 0px;
}
.footer-bg {
  background-color: var(---secondaryColor);
}
#footer li a {
  font-size: 14px;
}
.hr-style {
  height: 1px;
  background-color: rgb(192, 190, 190);
  border: none;
  margin-top: 50px;
}
.copyright {
  text-align: center;
  padding: 10px;
}
.footer-main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem;
  justify-items: center;
}
.footer-title {
  font-size: 19px;
  color: black;
  margin-bottom: 20px;
}
/* .tech {
  width: 400px;
} */
.footer-main p {
  color: black;
  /* font-size: 14px; */
}
.footer-menu {
  display: flex;
  gap: 0;
  flex-direction: column;
  width: 200px;
}
.footer-menu li a {
  color: black;
  transition: all 0.2s;
}
.address {
  display: flex;
  flex-direction: column;
}
.address p {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px;
}
.contact {
  min-width: 300px;
}
.socialMedias {
  display: flex;
  align-items: center;
  gap: 5px;
  /* padding-left: 50px; */
}
.socialMedias a {
  width: 32px;
  height: 32px;
  background-color: var(---primaryColor);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: transform 0.3s;
}
.socialMedias a:hover {
  transform: scale(1.1);
}
.mediaContainer h6 {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 17px;
}
.customerService {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-bottom: 10px;
}
.customerService h6 {
  margin-bottom: 10px;
  font-size: 17px;
}
.customerService p {
  margin: 0;
  font-size: 14px;
}
.paymentImages {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.paymentImages div {
  width: 80px;
  height: 35px;
  background-color: white;
  border-radius: 5px;
  padding: 1px;
  border: 1px solid gainsboro;
}
.paymentImages img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.copyright small {
  color: black;
}
/* Responsive part */
@media only screen and (max-width: 1200px) {
  #footer {
    padding: 20px;
  }
  .footer-main {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    place-items: start;
  }
  .footer-title {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 600px) {
  #footer {
    padding: 10px;
  }
  .footer-main {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  .footer-title {
    margin-bottom: 10px;
  }
  .tech {
    width: auto;
  }
}
